<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Оплата | Типография Москва</title>
  <link rel="stylesheet" href="static/styles.css" />
</head>
<body>

  <!-- HEADER -->
      <header class="header-line">
        <div class="header-top">
            <div class="logo-block">
                <img src="{{ url_for('static', filename='images/header-logo.svg') }}" alt="Логотип" class="logo">
                <span class="city">Москва</span>
            </div>
            <button class="btn filled" id="open-calc">Расчет стоимости печати</button>
            <span class="address">Москва, ул. Стромынка, 9</span>
            <div class="contacts">
                <div class="contacts-1"><img src="{{ url_for('static', filename='images/header-line-whats-app.svg') }}" class="icon"></div>
                <img src="{{ url_for('static', filename='images/header-line-phone.svg') }}" class="icon">
                <div class="contacts-3"><span class="phone">+7 (495) 108 74 70</span></div>
            </div>
            <button class="btn outlined" id="open-call">Заказать звонок</button>
        </div>

        <nav class="header-bottom">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#">Типография</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('delivery') }}">Типография с доставкой</a></li>
                        <li><a href="{{ url_for('offset') }}">Офсетная типография</a></li>
                        <li><a href="{{ url_for('digital') }}">Цифровая типография</a></li>
                        <li><a href="{{ url_for('weekend') }}">Типография выходные</a></li>
                        <li><a href="{{ url_for('cheep') }}">Недорогая типография</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Услуги типографии</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('tags') }}">Бирки</a></li>
                        <li><a href="{{ url_for('badges') }}">Бейджи</a></li>
                        <li><a href="{{ url_for('forms') }}">Бланки</a></li>
                        <li><a href="{{ url_for('Interior_printing') }}">Интерьерная печать</a></li>
                        <li><a href="{{ url_for('Brochures') }}">Брошюры</a></li>
                        <li><a href="{{ url_for('annual_reports') }}">Годовые отчеты</a></li>
                        <li><a href="{{ url_for('newspapers') }}">Газеты</a></li>
                        <li><a href="{{ url_for('magazines') }}">Журналы</a></li>
                        <li><a href="{{ url_for('holographic_stickers') }}">Голографические наклейки</a></li>
                        <li><a href="{{ url_for('magnetic_cards') }}">Магнитные карты</a></li>
                        <li><a href="{{ url_for('magnetic_souvenirs') }}">Магнитные сувениры</a></li>
                        <li><a href="{{ url_for('menu') }}">Печать меню для ресторанов</a></li>
                        <li><a href="{{ url_for('labels') }}">Этикетки</a></li>
                        <li><a href="{{ url_for('stickers') }}">Распечатать наклейки</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Полиграфия</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('business_cards') }}">Визитки</a></li>
                        <li><a href="{{ url_for('leaflets') }}">Листовки</a></li>
                        <li><a href="{{ url_for('notepads') }}">Блокноты</a></li>
                        <li><a href="{{ url_for('flyers') }}">Флаеры</a></li>
                        <li><a href="{{ url_for('booklet') }}">Буклеты</a></li>
                        <li><a href="{{ url_for('presentations') }}">Презентации</a></li>
                        <li><a href="{{ url_for('calendars') }}">Календари</a></li>
                        <li><a href="{{ url_for('postcards') }}">Печать открыток</a></li>
                        <li><a href="{{ url_for('wedding') }}">Печать пригласительных на свадьбу</a></li>
                        <li><a href="{{ url_for('elevators') }}">Печать лифлетов</a></li>
                        <li><a href="{{ url_for('kubariki') }}">Печать кубариков</a></li>
                        <li><a href="{{ url_for('A4') }}">Цветная печать A4</a></li>
                        <li><a href="{{ url_for('double_sided_stickers') }}">Двухсторонние наклейки</a></li>
                        <li><a href="{{ url_for('signs') }}">Таблички на заказ</a></li>
                        <li><a href="{{ url_for('banners') }}">Печать баннеров</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Доставка</a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('payment') }}">Оплата</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('photogallery') }}">Фотогалерея</a></li>
                <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
            </ul>
        </nav>

    </header>

  <!-- ОСНОВНОЙ КОНТЕНТ -->
  <section class="payment-content">
    <div class="container">
      <h1>Типография</h1>

      <div class="payment-menu">
        <h2>Услуги типографии</h2>
        <ul>
          <li><a href="#">Полиграфия</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Фотогалерея</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="payment-info">
        <p>В нашей типографии "Типография Москва" мы предлагаем различные способы оплаты, чтобы сделать процесс как можно более удобным для наших клиентов. Вы можете выбрать один из следующих вариантов:</p>

        <div class="payment-method">
          <h3>Наличный расчет</h3>
          <p>Оплатите свой заказ наличными при получении. Наши курьеры или сотрудники пункта выдачи всегда готовы принять оплату наличными.</p>
        </div>

        <div class="payment-method">
          <h3>Безналичный расчет</h3>
          <p>Мы принимаем оплаты по безналичному расчету. Вы можете перевести деньги на наш расчетный счет с помощью банковского перевода или интернет-банкинга.</p>
        </div>

        <div class="payment-method">
          <h3>Оплата картой</h3>
          <p>У нас есть возможность оплаты банковскими картами. Вы можете расплатиться картами Visa, MasterCard и другими популярными платежными системами как при получении, так и через интернет.</p>
        </div>

        <div class="payment-note">
          <p>Если у вас возникли вопросы по способам оплаты, пожалуйста, свяжитесь с нашей службой поддержки, и мы с удовольствием вам поможем!</p>
        </div>
      </div>
    </div>
  </section>

<footer class="footer">
      <div class="footer-top">
        <div class="footer-column logo-column">
          <img src="{{ url_for('static', filename='images/header-logo.svg') }}" alt="Типография Москва" class="footer-logo">
          <p>Ваши идеи – наша печать:<br>творим с любовью в Москве!</p>
        </div>

        <div class="footer-column">
          <h4>Наши услуги</h4>
          <ul>
            <li><a href="#">Услуги типографии</a></li>
            <li><a href="#">Цифровая типография</a></li>
            <li><a href="#">Офсетная типография</a></li>
            <li><a href="#">Недорогая типография</a></li>
            <li><a href="#">Типография с доставкой</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>Информация</h4>
          <ul>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Фотогалерея</a></li>
            <li><a href="#">Журнал</a></li>
          </ul>
        </div>

        <div class="footer-column contact-column">
          <div class="social-icons">
            <a href="#"><img src="static/images/vk.svg" alt="VK"></a>
            <a href="#"><img src="static/images/header-line-whats-app.svg" alt="WhatsApp"></a>
          </div>
          <p>+7 (495) 108 74 70</p>
          <p>Москва<br>улица Стромынка, 9</p>
          <p>ПН – ПТ: 9:00 – 20:00</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>2025 <a href="#">Типография Москва</a></p>
        <a href="#" class="scroll-top">↑</a>
      </div>
    </footer>

  <script src="static/script.js"></script>
</body>
</html>